<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
</head>
<div th:fragment="button">
<div style="
        padding: 14px 64px;
        background-color: #3E4CF7;
        width: 272px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        margin: 0 auto;
        ">
    <a href="https://[프론트주소로변경]"
        style="text-decoration-line: none;">
        <span style="
            text-decoration: none;
            outline: 0px;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;">
            관리자 페이지 바로가기
        </span>
    </a>
</div>
</div>
</html>
