<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
</head>
<div th:fragment="button">
    <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0"
           style="margin: 0 auto; border-collapse: separate !important;">
        <tr>
            <td align="center" bgcolor="#3E4CF7" style="border-radius: 10px;">
                <a href="https://ceos-sinchon.com/"
                   style="display: inline-block;
                        padding: 14px 64px;
                        text-decoration: none;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 20px;
                        text-align: center;
                        color: #FFFFFF;
                        border-radius: 10px;">
                    홈페이지 바로가기
                </a>
            </td>
        </tr>
    </table>
</div>
</html>
