<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
</head>
<div th:fragment="passwordInfo(passwordInfo)">
<div style="
    width: 680px;
    ">
    <span style="
        text-decoration: none;
        outline: 0px;
        font-family: Pretendard, AppleSDGothic, apple sd gothic neo,
            noto sans korean, noto sans korean regular, noto sans cjk kr,
            noto sans cjk, nanum gothic, malgun gothic, dotum, arial,
            helvetica, MS Gothic, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #232527;"
          >
            안녕하세요! 신촌 연합 IT 창업동아리 CEOS 입니다.<br/><br/>

CEOS 20기 서류 지원이 시작되었습니다! <br/><br/>

CEOS는 기획, 디자인, 개발 역량을 겸비한 열정 있는 대학생들이 모여 창업을 경험하고 꿈을 실현할 수 있는 공간입니다. 사업, 창업, IT, UX, 개발, 비즈니스 모델 등에
관심과 열정이 있는 분들의 많은 지원 바랍니다!<br><br>
 <br>

모집 일정 <br> <br>

[접수기간] 8월 15일 (화) ~ 8월 28일 (수) 23:59 <br>
[서류발표] 8월 30일 (금) <br>
[개별면접] 8월 31일 (토) ~ 9월 1일 (일) <br>
[최종발표] 9월 2일 (월) <br>
 <br>

모집대상 <br> <br>

IT 창업에 관심 있는 사람들 <br>
- 전문지식이 없더라도 관심과 열정이 있으면 지원 가능 <br>
- 파트별 지원(기획, 디자인, 개발) <br>
- 재학생, 휴학생, 졸업생, 대학원생 모두 지원 가능 <br>
 <br>
지원방법 <br> <br>

https://ceos-sinchon.com <br>
홈페이지 지원서 제출 후 온라인 면접 진행 <br>
 <br>

커리큘럼 <br> <br>

[정기세션] 매주 수요일 오후 7시 (약 2시간 진행) <br>
https://ceos20th.notion.site/CEOS-20-65ffc03d8e2c45539d4ecea280231796?pvs=4 <br>

[스터디] 파트별 요일/시간 상이 <br>
https://ceos20th.notion.site/CEOS-20-ba972556cde34a1391c64f8759d2de5d?pvs=4 <br>

<br>

문의 <br><br>
홈페이지(https://ceos-sinchon.com) 내 FAQ를 확인해 주시고 이외의 문의사항은 카카오톡 채널 @ceos(http://pf.kakao.com/_xeDgxcK)로 연락 주시면 자세히 답변 드리겠습니다. <br>
세오스 공식 인스타그램 계정 @ceos.sinchon 에도 다양한 리쿠르팅 관련 정보를 제공하고 있으니 참고해주세요! <br>

    </span>

    <div style="height: 16px; width: 680px"></div>
</div>
</div>
</html>