<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
</head>
<div th:fragment="greetInfo(greetInfo)">
    <div style="
        width: 100%;
        box-sizing: border-box;
        border-radius: 10px;
        ">
        <div style="width: 680px;
                text-decoration: none;
                outline: 0px;
                font-family: Pretendard, AppleSDGothic, apple sd gothic neo,
                    noto sans korean, noto sans korean regular, noto sans cjk kr,
                    noto sans cjk, nanum gothic, malgun gothic, dotum, arial,
                    helvetica, MS Gothic, sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 150%;
                color: #3E4CF7;">
            <span>CEOS </span>
            <span th:text="${generation}">23</span>
            <span>기 리크루팅을 시작합니다!</span>
        </div>

        <div style="height: 16px; width: 680px; "></div>

        <div style="width: 680px;
            text-decoration: none;
            outline: 0px;
            font-family: Pretendard, AppleSDGothic, apple sd gothic neo,
                noto sans korean, noto sans korean regular, noto sans cjk kr,
                noto sans cjk, nanum gothic, malgun gothic, dotum, arial,
                helvetica, MS Gothic, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 170%;
            color: #232527;">

            <span>
                안녕하세요. 신촌 연합 IT 창업동아리 CEOS입니다.<br>
                CEOS <span th:text="${generation}">23</span>기 서류 지원이 시작되었습니다! <br> <br>
                세오스는 기획, 디자인, 개발 역량을 겸비한 열정 있는 대학생들이 모여 창업을 경험하고 꿈을 실현할 수 있는 공간입니다.
            </span>

            <span style="
            font-weight: 600;
            font-size: 16px;
            line-height: 170%;
            color: #3E4CF7;">
                사업, 창업, IT, UX, 개발, 비즈니스 모델
            </span>

            <span>
                 등에 관심과 열정이 있는 분들의 많은 지원 바랍니다.<br>
                <br>
            </span>
        </div>
    </div>
</div>
</html>