<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <style>
        .blue-title {
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
            color: #3E4CF7;
        }
    </style>
</head>
<div th:fragment="passwordInfo(passwordInfo)">
    <div style="
        width: 680px;
        text-decoration: none;
        outline: 0px;
        font-family: Pretendard, AppleSDGothic, apple sd gothic neo,
            noto sans korean, noto sans korean regular, noto sans cjk kr,
            noto sans cjk, nanum gothic, malgun gothic, dotum, arial,
            helvetica, MS Gothic, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #232527;"
    >

    <span class="blue-title"
          style="font-weight: 600;
                font-size: 18px;
                line-height: 120%;
                color: #3E4CF7;">
        모집 일정 <br> <br>
    </span>

        <span style="font-weight: 600;">[접수기간]</span>
        8월 20일 (수) ~ 8월 27일 (수) 24:00 <br>
        <span style="font-weight: 600;">[서류발표]</span>
        8월 29일 (금) <br>
        <span style="font-weight: 600;">[개별면접]</span>
        8월 30일 (토) ~ 8월 31일 (일) <br>
        <span style="font-weight: 600;">[최종발표]</span>
        9월 1일 (월) <br>
        <br> <br>


        <span class="blue-title"
              style="font-weight: 600;
                font-size: 18px;
                line-height: 120%;
                color: #3E4CF7;">
        모집대상 <br> <br>
        </span>
        <span style="font-weight: 600;">IT 창업에 관심 있는 사람들<br></span>
        - 전문지식이 없더라도
        <span style="font-weight: 600;">관심과 열정</span>
        이 있으면 지원 가능 <br>
        - 파트별 지원(기획, 디자인, 개발) <br>
        - 재학생, 휴학생, 졸업생, 대학원생
        <span style="font-weight: 600;">모두 지원 가능</span> <br>
        <br> <br>

        <span class="blue-title"
              style="font-weight: 600;
                font-size: 18px;
                line-height: 120%;
                color: #3E4CF7;">
        지원방법 <br> <br>
        </span>
        <span>https://ceos-sinchon.com <br></span>
        홈페이지 지원서 제출 후
        <span style="font-weight: 600;"> 온/오프라인 면접 진행 <br> </span>
        <br> <br>


        <span class="blue-title"
              style="font-weight: 600;
                font-size: 18px;
                line-height: 120%;
                color: #3E4CF7;">
        커리큘럼 <br> <br>
        </span>

        <span style="font-weight: 600;">[정기세션]</span>
        매주
        <span style="font-weight: 600;">수요일</span>
        오후 7시 (약 2시간 진행) <br>

        https://maddening-bottle-962.notion.site/CEOS-23-2ef11100f5bc8142bc7beef39c257872 <br>

        <span style="font-weight: 600;">[스터디]</span>
        파트별 요일/시간 상이 <br>
        https://maddening-bottle-962.notion.site/CEOS-23-2fb11100f5bc80b99025f388207fcfe2 <br>
        <br> <br>

        <span class="blue-title"
              style="font-weight: 600;
                font-size: 18px;
                line-height: 120%;
                color: #3E4CF7;">
        문의 <br> <br>
        </span>

        홈페이지(https://ceos-sinchon.com) 내
        <span style="font-weight: 600;">FAQ</span>
        를 확인해 주시고 이외의 문의사항은
        <span style="font-weight: 600; color: #3E4CF7;">ceos.sinchon@gmail.com</span>
        로 연락 주시면 자세히 답변 드리겠습니다. <br>
        세오스 공식 인스타그램 계정
        <span style="font-weight: 600; color: #3E4CF7;">@ceos.sinchon </span>
        에도 다양한 리쿠르팅 관련 정보를 제공하고 있으니 참고해주세요! <br> <br>

        <div style="height: 16px; width: 680px"></div>
    </div>
</div>
</html>